@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
  font-size: 62.5%;
}

.main {
  font-family: 'Poppins', sans-serif;
   flex: 1;
}

.Gradiente {
  background: linear-gradient(to bottom, #4B8C8D, #0e6667da);
  padding-bottom: 3rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 4rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
  height: 100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
   background-color: #4B8C8D;
}



.Pesquisa input {
  height: 5rem;
  width: 90rem;
  margin: 2rem;
  border-radius: 5rem;
  border: none;
  background-color: #0E6567;
  font-size: 2rem;
  color: white;
  padding: 1.5rem;
  margin-left: -120px;
}

.Pesquisa input::placeholder {
  color: white;
}

.Icons {
  margin-right: 4rem;
}

.Icons :global(svg) {
  height: 4.5rem;
  width: 4.5rem;
  margin-left: 1.5rem;
  color: #ffffff;
  cursor: pointer;
}

.titulo {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  padding: 20px 0 30px 0;
  color: #fff;
}

.tituloSecao {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.CardsCarrocel a{
    text-decoration: none;
    color: black;
    transition: transform 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); /* sombra suave para baixo */
    border-radius: 20px;
}

.CardsCarrocel a:hover {
    transform: scale(1.05);
}

.h2{
    font-size: 2rem;
}

.CardsCarrocel{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;

}

.CardsCarrocel svg{
    height: 6.5rem; 
    width: 6.5rem; 
  
}

.CardsCarrocel .MaterialEscolar{
    background-color: #0E6567;
    width: 15rem;
    height: 14.5rem;
    font-size: 2rem;
    font-weight: 300;
    font-family: Poppins;
    color: #ffff;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

.CardsCarrocel .Roupas{
    background-color: #0E6567;
    width: 15rem;
    height: 14.5rem;
    font-size: 2rem;
    font-weight: 300;
    font-family: Poppins;
    color: #ffff;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

.CardsCarrocel .Sapatos{
    background-color: #0E6567;
    width: 15rem;
    height: 14.5rem;
    font-size: 2rem;
    font-weight: 300;
    font-family: Poppins;
    color: #ffff;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

.CardsCarrocel .ObjetosGerais{
    background-color: #0E6567;
    width: 15rem;
    height: 14.5rem;
    font-size: 2rem;
    font-weight: 300;
    font-family: Poppins;
    color: #ffff;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

.CardsCarrocel .Resgatados{
    background-color: #0E6567;
    width: 15rem;
    height: 14.5rem;
    font-size: 2rem;
    font-weight: 300;
    font-family: Poppins;
    color: #ffff;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}


.CardsItens{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 3rem;
    padding: 3rem;
    flex-wrap: wrap;
   margin-bottom: 5rem;
}

.CardsItens .Cards{
    background-color: #0E6567;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
    background-image: linear-gradient(#0E6567 ,  #449d9e);
    width: 35rem;
    height: 36rem;
    font-size: 2rem;
    font-weight: 300;
    font-family: Poppins;
    color: #ffff;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 5rem;
}

.h3{
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.linha{
 width: 350px;
  border-bottom: 3px solid #ffffff;
  margin-left: -15px;
  margin-bottom: 1rem;
}

.button {
  border-radius: 16px;
  border: 2px solid white; 
  background-color: #0E6567; 
  color: white;
  cursor: pointer;
  width: 20rem;
  height: 5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  transition: all 0.3s ease;
  font-family: "Arial";
  font-size: 18px;
}

.button:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); 
  background-color: white;
  border: 2px solid #0E6567; 
  color: #0E6567;
}


.CardsItens .Cards img{
    width: 24rem;
    height: 23rem; 
    border-radius: 20px;
    margin-bottom: 0.2rem;
}
.modal {
  position: fixed;
  z-index: 10;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  width: 40%;
  height: auto;
  text-align: center;
  position: relative;
}

.fechar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
}

.modalContent img {
  width: 25rem;
  height: 25rem;
  border-radius: 20px;
}

.modalEscondido {
  display: none;
}


.footer{

  color: white;
  width: 100%;
  padding: 40px;
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 12%;
  box-shadow: 6px 6px 6px 12px rgba(0, 0, 0, 0.2); 
  margin-top: 10rem;
  background: linear-gradient( to bottom,  #4B8C8D 83%, #0E6567 17%);
}

.contatos{
  margin-left: 5rem;
}

.fh1{
  font-size: 2.2rem;
  font-family: "Poppins";
  margin-top: 1.5rem;
  margin-bottom: 0.6rem;
}

.linha2{
  width: 9rem;
  background-color: #fff;
  margin-bottom: 1.8rem;
 padding: 0.1rem;
}

.fh2{
   font-size: 1.5rem;
  font-family: "Poppins";
   margin-bottom: 1.8rem;
   cursor: pointer;

}

.icon svg{
width: 28px;
height: 28px;
cursor: pointer;

}

.icon{
gap: 2.5rem;
display: flex;
}

.email{
  display: flex;
  gap: 9px;
 
}

.email svg{
  width: 28px;
  height: 28px;
  margin-top: -0.3rem;
  margin-bottom: 1.8rem;
  cursor: pointer;
}

.telefone{
  display: flex;
  gap: 9px;
}

.telefone svg{
  width: 28px;
  height: 28px;
  margin-top: -0.3rem;
  cursor: pointer;
}

.c{
  display: flex;
  gap: 6px;
  position: absolute;
  bottom: 10px; /* distância do final */
 left: 50%; /* joga para o meio */
  transform: translateX(-50%); /* centraliza de verdade */
  align-items: center;

}

.c svg{
  width: 18px;
  height: 18px;
}

.c h2{
  font-size: 1.3rem;
  margin-top: 0.2rem;
}
