
.pageWrapper {
  height: 10px;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main{
    font-family: "Poppins";
}


.topoFeedback {
  width: 1357px;
  background-color: #3a7c7b;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}

.logoFeedback {
object-fit: contain;
 margin-left: -70rem;
}

 .voltar {
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
    margin-right: 3rem;
    margin-top: 0.5rem;
  }

  .voltar svg{
    width: 30px;
    height: 30px;
  }

  .a{
    text-decoration: none;
  }


.tituloContainer {
  text-align: center;
  margin-top: -0rem;
}

.titulo {
  display: inline-block;
  padding: 10px 43px;
  background-color: #ffffff;
  color: #0E6567;
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 5rem;
}


    .details {
      font-family: Arial, sans-serif;
      margin: 10px 0;
      border-bottom: 1px solid #ccc;
      width: 800px;
      margin-bottom: 2.5rem;
    }

     .details2 {
      font-family: Arial, sans-serif;
      margin: 10px 0;
      border-bottom: 1px solid #ccc;
      width: 800px;
      margin-bottom: 5rem;
    }

    .summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      list-style: none;
      padding: 10px;
      font-weight: bold;
      font-size: 1.5rem;
      color:#383838;
      
    }

    .summary::marker {
      display: none;
    }

    .chevron {
      width: 35px;
      height: 35px;
      transition: transform 0.3s ease;
      color: #0E6567;
    }

    .details[open] .chevron {
      transform: rotate(180deg);
    }

    .info {
      padding: 0 10px 10px 10px;
      font-size: 1.2rem;
      color: #444;
    }

    .Contatos{
        display: flex;
        color: #0E6567;
        justify-content: space-around;
        
    }

    .h1{
       font-size: 2rem;
       font-weight: bold;
       
        
    }

    .h2{
        font-size: 1rem;
        font-weight: 600;
        padding: 0.7rem;
    }
